%html
  %head
    %title Crossword Solver
    %link{rel: "stylesheet", type: "text/css", media: "all", href: stylesheet_path("app") }

  %body
    #results.hidden
      %h1
        Results for
        %span#search_term
      #result_text
    #intro
      %h1 Crossword Solver

      %p I enjoy crosswords, and wrote these tools to help me.  There are well over a quarter of a million words and phrases in the dictionary, thanks to <a href="http://www.crosswordman.com/">Ross Beresford</a>'s UKACD dictionary and a huge list of phrases from Ross Withey.

      %blockquote
        %p.warning
          NB. If you're trying to find anagrams for someone's name, you're in the wrong place: see <a href="http://www.anagramgenius.com/">http://www.anagramgenius.com/</a>

    %hr
    %h2 Find an Anagram
    %p Type in a word or series of words here to get valid words and phrases from the dictionary.
    %form#anform
      %input#an{type: "text", name: "an", autocorrect: "off", autocapitalize: "off", tabindex: 1}
      %input{type: "Submit", value: "Anagram"}
      #an_preview.preview

    %hr
    %h2 Complete a Word or Phrase
    %p
      Type in what you have, with dots for the missing letters (e.g., <code>h.r...i.m</code>)
      to get matching words and phrases from the dictionary.  Don't type spaces between words.
      You can match word boundaries with forward slashes, like this: <code>h.r./...l../e.g</code>
    %form#fwform
      %input#fw{type: "text", name: "fw", autocorrect: "off", autocapitalize: "off", tabindex: 2}
      %input#fwc.hidden{type: "text", name: "fwc", autocorrect: "off", autocapitalize: "off", tabindex: 2, placeholder: "Context (optional)"}
      %input{type: "Submit", value: "Find Word/Phrase"}
      #fw_preview.preview

    %hr
    %h2 Solve a cryptogram
    %p Enter a word from a cryptogram, e.g., <code>opgxcxbgxs</code> to see words that match it.
    %form#crform
      %input#cr{type: "text", name: "cr", autocorrect: "off", autocapitalize: "off", tabindex: 3}
      %input{type: "Submit", value: "Cryptogram"}
      #cr_preview.preview

    %hr
    %address
      <a href="http://www.petebevin.com/">Pete Bevin</a>, <a href="mailto:pete@petebevin.com">pete@petebevin.com</a>.

    #def.hidden
      %iframe
    %script{src: "http://code.jquery.com/jquery-1.10.1.min.js", type: "text/javascript"}
    %script{src: javascript_path("app.js"), type: "text/javascript"}
