body { background: #ffffff; font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif; }
P.warning { font: italic small Verdana, Arial, Helvetica, sans-serif; color: #3366FF}
h1 { font: 30px Arial, Helvetica, sans-serif }
h2 { font: 18px Arial, Helvetica, sans-serif; font-weight: bold; color: red }
#result_text .entry { overflow: hidden; white-space: nowrap; }
#result_text .entry a { font: 14px "Courier New", Courier, mono; }
#result_text .entry dfn { margin-left: 12px; font: 12px Arial, Helvetica, sans-serif;  }
.preview { color: #f00; font-size: 12px; font-weight: bold; display: none; }
.hidden { display: none; }
#result_text a { text-decoration: none; }

#result_text .entry { position: relative }
#result_text .entry .fade {
  position:absolute;
  top:0px;
  right:0;
  width:100px;
  height:50px;
  background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 52%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(52%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 52%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 52%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 52%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 52%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
}
